<meta http-equiv="refresh" content="120" />
<h1>Latest News</h1>
<% @rss.items.each do |r| %>		

<%= r.try(:title)%>

<%headline = r.try(:title)%>
<%link_article = r.try(:link)%>
<%desc = r.try(:description)%>
<%= link_to "Read full article" , {:controller => 'newscategory', :action => 'description', :hl => headline, :rss => desc, :al => link_article} %>
<br>
<br>
<% end %>
